body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.music-player {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

h1,
h2 {
  margin: 0;
}

.controls,
.volume-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.controls button,
.volume-controls button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 10px;
}

#elapsed-time,
#volume-level {
  font-size: 1rem;
  margin: 0 10px;
}
